html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: black;
    opacity: 80%;
}

nav {
    background-color: rgb(40, 60, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px 10px;
    position: fixed;
    width: 100%;
    color: white;
    border-bottom: 2px white solid;
    z-index: 1;
    box-shadow: 0 0 10px 0 black;
}

.navicon {
    font-size: 1.5rem;

}

.navtitle {
    font-size: 1.5rem;
    font-family: cursive;
    padding: 10px;
}

.acc {
    padding-right: 20px;
}
#usernamebtn {
    padding: 5px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    transition: .1s;
    font-size: 0.8rem;
    color: white;
    transition: .4s;

}

#usernamebtn:hover {
    
    scale: 1.1;

}
#navdrop {
    padding: 0 70px;
    display: none;
    
    
    /* border: 1px white solid;
    animation: line 1s;
    transition: border-color .2s; */
    
}
#usernameline{
    position: fixed;
    width: 200px;
    transform: translateX(-70px);
    animation: lineun 1s ;
}
@keyframes lineun{
    from{
        width: 0;
    }
    to{
        width:200px;
    }
}
#navdrop button {
    position: fixed;
    padding: 4px 0;
    width: 130px;
    background-color: rgb(40, 60, 72);
    transition: .4s;
    color: white;
    border: none;
    
    
}
#navdrop button:hover {
    color: rgb(40, 60, 72);
    background-color: white;
}
#myprofile {
    transform: translateY(2px);
    animation: dripfun1 .5s ease-in-out;
    
}
@keyframes dripfun1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(2px);
        
    }

}


#updateprofile {
    transform: translateY(24px);
    animation: dripfun2 .5s ease-in-out;
    
}
@keyframes dripfun2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(24px);
    }

}
#settings {
    transform: translateY(47px);
    animation: dripfun3 .6s ease-in-out;
    
    
}
@keyframes dripfun3 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(47px);
    }

}
#logoutbtn {
    transform: translateY(70px);
    
    animation: dripfun4 .6s ease-in-out;
}
@keyframes dripfun4 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(70px);
    }

}
.bgimg {
    margin-top: 70px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 70%;
    z-index: -1;
}

.sps {
    height: 70px;
    width: 100%;
}

#daystat {
    text-align: right;
    color: white;
    padding: 10px;
}

.btnset1 {
    padding: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.btnset1 button {
    padding: 10px;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border-color: white;
    transition: .1s;
    margin-right: 10px;
}

.btnset1 button:hover {
    color: rgb(40, 60, 72);
    background-color: white;
    border-color: rgb(40, 60, 72);
}

.abtcon {
    display: none;
    padding: 15px;
    width: auto;
    text-align: center;
    background-color: rgba(40, 60, 72, .8);


}

.abt {
    color: white;
    max-width: 600px;
    margin: auto;
    font-size: 1rem;
    padding: 10px;
    animation: abtui 1s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes abtui {
    from {
        font-size: 0;
    }

}

.abtcon button {
    background-color: transparent;
    font-size: 2rem;
    color: white;
    border: none;
}

.abtcon button:hover {
    color: red;
}

.btnset2 {
    display: flex;
    padding: 100px 5px;
    width: 99%;
    justify-content: space-around;

}

.btnset2 .items {
    padding: 20px;
    border: 2px black solid;
    background-color: rgb(40, 60, 72);


}

.btnset2 .items img {
    max-width: 250px;
    height: 250px;
}

.btnset2 .items button {
    width: 100%;
    padding: 8px;
    color: rgb(40, 60, 72);
    transition: .2s;
    border: none;

}

.btnset2 .items button:hover {
    border-radius: 10px;

}














footer {
    background-color: rgb(40, 60, 72);
    text-align: center;
    font-size: 1.1rem;
    color: white;
    border-top: 2px white solid;
}

footer div {
    padding: 10px 0;
    font-family: monospace;
}

